<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main class="search-container">
      <div class="container">
        <div class="profile">
          <input type="text" class="input-search" />
          <img
            src="https://s3-alpha-sig.figma.com/img/4af1/0407/d8d0912a6980d354bad37adf23e21b62?Expires=1720396800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d25hqjLXsTtTQw0hK5aSSiLraPSgPhVaQQ0KMvutthyi9PE1IxNMNZEPt1RUL66u2w8Mto4v1Drku3hXwPXG6g5-xl6aszDjJjCJLly5nyr5wOzgjpCAVYvXDjtu6DO97uAF9Lm8EgpUVzTR9rt3cM5YZN4t0rDtevLtlxNvHAWf87woiFf03P3IYme6eHopyYBJHuRz0J6ZXCEhQ3n4LF~vBjhNVL1NZgWwoiVpHnOfF-1FkU-qDf4Dh~0SSK0NntjhW6IrA-vY-6mgZ~Fzjfa0iByroZuXLFfQG7upXC9y1p5M0aUrsUjV-to7FFyFHP9Vr-bH9ONfACssAEP3rA__"
            alt="Dan Abramov"
            class="picture"
          />
          <h1>Dan Abramov</h1>
          <p>
            Working on @reactjs. Co-author of Redux and Create React App.
            Building tools for humans.
          </p>
        </div>
        <div class="stats">
          <ul>
            <li>Seguidores: 64K</li>
            <li>Siguiendo: 171</li>
            <li>Repositorios públicos: 249</li>
            <li>Gists públicos: 72</li>
          </ul>
        </div>
      </div>

      <nav class="navbar-menu">
        <ul>
          <li>
            <a href="#"
              ><img src="/assets/user-3-fill.svg" alt="Ícono SVG"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="/assets/search-fill.svg" alt="Ícono SVG"
            /></a>
          </li>
          <li>
            <a href="#"><img src="/assets/star-fill.svg" alt="Ícono SVG" /></a>
          </li>
        </ul>
      </nav>
    </main>
  </body>
</html>
